name: release-please
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: [self-hosted, macOS]
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.ACTIONS }}
          manifest-file: ".github/.release-please-manifest.json"
          config-file: ".github/release-please-config.json"
